#box-navigation .navigation-other {
  margin-left: 5px;
  font-family: "Arial", "Arial", a, serif;
  font-size: 3vh;
  text-decoration: none;
  color: black;
}

#homepage-anchor {
  color: royalblue;
  font-size: 4vh;
  text-decoration: none;
}

#homepage-anchor:hover {
  color: steelblue;
}

#homepage-anchor:active {
  color: royalblue;
}

#list-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  font-family: "Arial", "Arial", a, serif;
  font-size: 3vh;
}

summary {
  font-family: "Arial", "Arial", a, serif;
  font-size: 4vh;
  color: steelblue;
}

strong {
  color: royalblue;
}

details > summary {
  margin: 1.5em;
  list-style: none;
  animation: fadeIn 1s;
}

button {
  background-color: white;
  font-size: 3vh;
  border: none
}

.github {
  color: steelblue;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

