#box-navigation .navigation-other {
  margin-left: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

#homepage-anchor {
  color: royalblue;
  font-size: 2vw;
  text-decoration: none;
}

#homepage-anchor:hover {
  color: steelblue;
}

#homepage-anchor:active {
  color: royalblue;
}

#list-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.5vw;
}

summary {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2vw;
  color: steelblue;
}

strong {
  color: royalblue;
}

details > summary {
  margin: 1.5em;
  list-style: none;
  animation: fadeIn 1s;
}

button {
  background-color: white;
  font-size: 1.5vw;
  border: none
}

.github {
  color: steelblue;
  text-decoration: none;
}

@media only screen and (max-width: 600px){
  strong {
    font-size: 5vw;
  }
  summary {
    font-size: 6vw;
    font-weight: bold;
  }
  a {
    font-size: 5vw;
  }
  #list-details{
    font-size: 5vw;
  }
  #homepage-anchor {
    font-size: 10vw;
  }
  #box-navigation .navigation-other {
    font-size: 8vw;
  }
  button {
    margin-top: 1em;
  }

}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

