#box-central-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:  "Arial", "Arial", a, serif;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 3vh;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
}

#box-central-content strong {
  color: steelblue;
}

#box-central-content em {
  font-family:  "Arial", "Arial", a, serif;
  font-size: 8vh;
  color: steelblue;
}

#box-navigation .navigation-other {
  margin-left: 5px;
  font-family: "Arial", "Arial", a, serif;
  font-size: 3vh;
  text-decoration: none;
  color: black;
}

#homepage-anchor {
  color: royalblue;
  font-size: 6vh;
  text-decoration: none;
}

#homepage-anchor:hover {
  color: steelblue;
}

#homepage-anchor:active {
  color: royalblue;
}

#greeting-paragraph {
  animation: fadeIn 1s;
}

#presentation-paragraph {
  animation: fadeIn 1.5s;
}

#skill-paragraph {
  animation: fadeIn 2s;
}

#react-paragraph {
  animation: fadeIn 2.5s;
}

#goodbye-paragraph {
  animation: fadeIn 3s;
}

img {
  width: 4vh;
}

#list-details {
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: right;
  margin-top: 10%;
  margin-right: 10%;
  width: 100%;
  font-family: "Arial", "Arial", a, serif;
  font-size: 3vh;
}

strong {
  color: royalblue;
}

button {
  background-color: white;
  font-family: "Arial", "Arial", a, serif;
  border: none;
  color: royalblue;
  margin-bottom: 1em;
}

#aleph-btn {
  position: relative;
  font-size: 6vh;
  right: 60%;
  animation: fadeIn ease-in 5s;
}

#python-btn{
  position: relative;
  font-size: 4vh;
  right: 30%;
  top: 10%;
  animation: fadeIn ease-in 6s;
}

#qalasa-btn {
  font-size: 8vh;
  position: relative;
  right: 15%;
  animation: fadeIn ease-in 3s;
}
ul {
  list-style: none;
}

.github {
  color: steelblue;
  text-decoration: none;
}

@media only screen and (max-width: 400px){
  #content{
    flex-direction: column;
  }
  #aleph-btn {
    font-size: 5vh;
    position: static
  }
  #qalasa-btn {
    font-size: 5vh;
    position: static
  }
  #python-btn {
    font-size: 5vh;
    position: static
  }
  #list-details {
    text-align: center;
  }

}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
