#box-central-content {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:  "Arial", "Arial", a, serif;
  margin-left: 5%;
  margin-top: 10%;
  font-size: 3vh;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
}

#box-central-content strong {
  color: steelblue;
}

#box-central-content em {
  font-family:  "Arial", "Arial", a, serif;
  font-size: 8vh;
  color: steelblue;
}

#box-navigation .navigation-other {
  margin-left: 5px;
  font-family: "Arial", "Arial", a, serif;
  font-size: 3vh;
  text-decoration: none;
  color: black;
}

#homepage-anchor {
  color: royalblue;
  font-size: 6vh;
  text-decoration: none;
}

#homepage-anchor:hover {
  color: steelblue;
}

#homepage-anchor:active {
  color: royalblue;
}

#greeting-paragraph {
  animation: fadeIn 1s;
}

#presentation-paragraph {
  animation: fadeIn 1.5s;
}

#skill-paragraph {
  animation: fadeIn 2s;
}

#react-paragraph {
  animation: fadeIn 2.5s;
}

#goodbye-paragraph {
  animation: fadeIn 3s;
}

img {
  width: 4vh;
}

#list-details {
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: right;
  margin-top: 10%;
  margin-right: 10%;
  width: 100%;
  font-family: "Arial", "Arial", a, serif;
  font-size: 3vh;
}

strong {
  color: royalblue;
}

button {
  background-color: white;
  font-family: "Arial", "Arial", a, serif;
  border: none;
  color: steelblue;
  margin-bottom: 1em;
}

button a {
  transition: font-size 0.5s, opacity 0.5s;
}

button a:hover {
  font-size: 1.05em;
  opacity: 0.8;
}

#aleph-btn {
  position: fixed;
  font-size: 11vh;
  right: 45%;
  top: 50%;
  animation: fadeIn ease-in 0.5s;
}

#python-btn{
  position: fixed;
  font-size: 7vh;
  right: 20%;
  top: 70%;
  animation: fadeIn ease-in 0.5s;
}

#qalasa-btn {
  font-size: 14vh;
  position: fixed;
  right: 15%;
  animation: fadeIn ease-in 0.5s;
}
ul {
  list-style: none;
}

.github {
  color: steelblue;
  text-decoration: none;
}

dialog {
  animation: growOutFaster ease-in 0.3s;
}

.background {
  transition: scale 0.2s, opacity 02s;
  scale:1;
  opacity: 1;
}

.fade-out-background {
  transition: scale 0.5s, opacity 0.5s;
  scale: 1.2;
  opacity: 0;
}

@media only screen and (max-width: 400px){
  #content{
    flex-direction: column;
  }
  #box-central-content{
    position: static;
  }
  #aleph-btn {
    font-size: 5vh;
    position: static
  }
  #qalasa-btn {
    font-size: 5vh;
    position: static
  }
  #python-btn {
    font-size: 5vh;
    position: static;
    margin-bottom: 0.5em;
  }
  #list-details {
    text-align: center;
  }
  #box-central-content {
    font-size: 2.5vh;
  }

  .dialog-content {
    text-align: left;
    font-size: 2vh;
  }
  dialog {
    width: 75%;
  }

}

@keyframes scaleForward {
  0% {
    transform:scale(.85);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes growOut {
  0% {scale: 1; }
  100% {scale: 1.1; }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; }
}

@keyframes growOutFaster {
  0% { transform: scale(0);}
  100% {transform : scale(1);}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
