#box-central-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:  "Lucida Console", "Courier New", monospace;
  text-align: center;
  font-size: 1.5vw;
}

#box-central-content strong {
  color: steelblue;
}

#box-central-content em {
  font-family:  "Arial", "Arial", a, serif;
  font-size: 4vw;
  color: steelblue;
}

#box-greeting em {
  font-style: normal;
}

#box-navigation .navigation-other {
  margin-left: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

#homepage-anchor {
  color: royalblue;
  font-size: 2vw;
  text-decoration: none;
}

#homepage-anchor:hover {
  color: steelblue;
}

#homepage-anchor:active {
  color: royalblue;
}

#greeting-paragraph {
  animation: fadeIn 1s;
}

#presentation-paragraph {
  animation: fadeIn 1.5s;
}

#skill-paragraph {
  animation: fadeIn 2s;
}

#react-paragraph {
  animation: fadeIn 2.5s;
}

#goodbye-paragraph {
  animation: fadeIn 3s;
}

img {
  width: 2vw;
}

@media only screen and (max-width: 600px){
  #box-central-content {
    font-size: 4.5vw;
    font-weight: bolder;
    margin: 20px;
  }
  #box-central-content strong {
    font-size: 5vw;
    font-weight: bolder;
  }
  #homepage-anchor {
    font-size: 10vw;
  }
  #box-navigation .navigation-other {
    font-size: 8vw;
  }
  img {
    width: 4.5vw;
  }
  #greeting-paragraph {
    font-size: 8vw;
  }

}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
